.grid-container {
  display: grid;
  grid-template-rows: 80px auto 30px;
  row-gap: 10px;
  place-items: center;
}

/* Formatting of library of book cards */
.book-cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

/* Formating of book cards */
.book-card-template {
  display: none;
  width: 30vw;
  background-color: #DEB6AB;
  border-radius: 10px;
  padding: 10px;
}

.book-card-template p {
  margin: 10px;
}

#bookTitle {
  justify-self: center;
}

#bookAuthor {
  justify-self: end;
}

#bookPages {
  justify-self: center;
}

.icon-btns {
  display: flex;
  justify-content: space-between;
}

.icon-btn {
  width: 35px;
}

.filter-read {
  filter: invert(84%) sepia(32%) saturate(6600%) hue-rotate(78deg) brightness(103%) contrast(92%);
}

/* Formatting of book form */
#bookForm {
  display: none;
  flex-direction: column;
  width: 30vw;
  margin: 30px 30vw auto 30vw;
  border: 2px solid black;
  padding: 30px;
}

#bookForm input {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

#bookForm input[type="checkbox"] {
  width: auto;
}

#bookForm button {
  width: 100%;
}